/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.container {
	@apply px-8 py-0;
}
.main {
	@apply min-h-screen flex-1 flex flex-col justify-center items-center px-0 py-16;
}
.footer {
	@apply flex flex-1 justify-center items-center px-0 py-8 border-t-[#eaeaea] border-t border-solid;
}
.footer a {
	@apply flex justify-center items-center grow;
}
.title a {
	@apply text-[#0070f3] no-underline;
}
.title a:hover,
.title a:focus,
.title a:active {
	@apply underline;
}
.title {
	@apply leading-[1.15] text-[4rem] m-0;
}
.title,
.description {
	@apply text-center;
}
.description {
	@apply leading-normal text-2xl mx-0 my-16;
}
.code {
	@apply text-[1.1rem] p-3 rounded-[5px];
	background: #fafafa;
	font-family:
		Menlo,
		Monaco,
		Lucida Console,
		Liberation Mono,
		DejaVu Sans Mono,
		Bitstream Vera Sans Mono,
		Courier New,
		monospace;
}
.grid {
	@apply flex items-center justify-center flex-wrap max-w-[800px];
}
.card {
	@apply text-left text-inherit no-underline border max-w-[300px] m-4 p-6 rounded-[10px] border-solid border-[#eaeaea];
	transition:
		color 0.15s ease,
		border-color 0.15s ease;
}
.card:hover,
.card:focus,
.card:active {
	@apply text-[#0070f3] border-[#0070f3];
}
.card h2 {
	@apply text-2xl mt-0 mb-4 mx-0;
}
.card p {
	@apply text-xl leading-normal m-0;
}
.logo {
	@apply h-[1em] ml-2;
}
@media (max-width: 600px) {
	.grid {
		@apply w-full flex-col;
	}
}
